@using HamburgerMVC.Models.ViewModels
@model Cart_VM


<div class="row justify-content-center">
<div class="col-lg-3 col-6 text-right">
    <a asp-area="UyePaneli" asp-controller="SiparisGoruntule" asp-action="Index" class="btn border">
        <i class="fas fa-heart text-primary">Urun Ekle</i>
        <span class="badge">0</span>
    </a>
    <br />
    <br />
    <a asp-area="UyePaneli" asp-controller="Cart" asp-action="Index" class="btn btn border">
        <i class="fas fa-shopping-cart text-primary">Sepete Git</i>
        <span class="badge">@Model.GrandTotal</span>
    </a>
</div>
</div>
